/* .navbarleft {
    display: flex;
    color: #FFF;
    align-items: center;
}
h4 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}
.one {
    background-color: black;
    height: 100vh;
}
.navbarcenter a {
    color: #FFF;
    text-decoration: none;
}
.navbarcenter select {
    color: #FFF;
    background-color: black;
}
.navbarcenter {
    text-align: center;
    color: #8B8E99;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    margin: 10px;
    
}
.navbar {
    display: inline-flex;
    padding: 18px 202px 23px 493px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 232px;
}
.navbarright {
    color: #FFF;
    display: flex;
} */


/* new style */
/* .navbar{
    display: flex;
    justify-content: center;
} */
/* .navbarleft{
    display: flex;
    align-items: center;
    margin-right: 30%;
}
.navbarright{
    display: flex;
    align-items: center;
}
.navbarcenter a{
    padding-left: 10px;
    text-decoration: none;
    color: grey;
}
.navbarcenter ul{
    padding-right: 390px;
} */


.navbar {
    display: flex;
    justify-content: center;
    color:white;
   
}
.navbarleft {
    align-items: center;
    margin-right: 20%;  
    display: flex;

}
.navbarcenter {
    margin-right: 30%;
    text-decoration: none;
    display: inline-flex;
}

.navbarright {
    margin-top: 1.5%;
}
.navbarcenter a {
    text-decoration: none;
    margin-left:10px;
    color: white;
}
.navbarcenter select {
    margin-left:10px;
    background-color: black;
    color: white;
}
.one {
    height: 100vh;
    background-color: black;
}

.text {
    color: white;
    margin-left: 200px;
    font-family: poppins, sans-serif;
    font-style: normal;
    line-height: 125.5%;
}

.text3{
font-size: 16px;
font-weight: 500;
margin-top: -50px;

}


h1 {
font-size: 30px;
font-weight: 300;
line-height: 125.5%;
margin-top: 154px;
padding-bottom: 3px;


}

.combination {
    display: inline-flex;
}
img {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    margin-top: 20%;
    margin-left: 20%;
}
.search-bar {
    border-radius: 100px;
    display: flex;
    border-style: solid;
    padding: 2px; 
    width: 100%;
    background-color: white;
}
.search-bar i {
    color: black;
}
.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;

}
.search-bar button {
    color: white;
    background-color: royalblue;
    border-radius: 5px;
}
.apple-watch {
    display:flex;
    
}

.apple-watch img {
    /* width:70%;
    height: 70%;
    margin-top: 50px; */
    width: 85px;
    height: 148.256px;
    flex-shrink: 0;
}
.product1 {
    display: flex;
    margin-left: 201px;
    border-radius: 22px;
    background-color:gainsboro;
    padding-right: 4%;

}
.product2 {
    display: flex;
    margin-left: 70px;
    border-radius: 22px;
    background-color:gainsboro;
    padding-right: 4%;
    
}
.product3 {
    display: flex;
    margin-left: 100px;
    margin-right: 80%;
    border-radius: 22px;
    background-color: gainsboro;
    padding-right: 4%;

    
}
#text1 {
    margin-top: 50px;
    color: #1E1D1D;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#text2 {
    margin-top: -120px;
    color: #8B8E99;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    
}
.des1 {
    display: grid;
    margin-left: 20px;
    margin-bottom: -90px;
}
.header {
    text-align: center;
    margin-top: 135px;
}
.header h3 {
    margin-top: -1.5%;
}
.section2 {
    margin: 5%;
    display: grid;
    grid-template-columns: 390px auto 370px;
    column-gap: 30px;
    
    
}
.container {
    background-color:gainsboro;
    display: flex;
    margin: 2%;
}
 .section2 img {
    width: 250px;
    height: 280.032px;
    flex-shrink: 0;
    display: block;
    padding-bottom: 30px;
    
}

del {
    display: inline-block;
    
}
.section2 .h4 {
    display: inline-block;
    
}
.section2 h4 {

}
.ratings {
    margin-left: 25%;
}
.price {
    margin-top: -5%;
}
.star {
    margin-top: -5%;
    margin-left: -3%;
}

/* .cart {
    display: grid;
    
}
 .shop {
    display: flex;
    
 } */

.icon1 {
    position: relative;
}
 .icon1 .material-icons {
    position: absolute;
    margin-top: -55px;
    margin-left: 13px;
 }
 #ellipse {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    position: relative;
 }



 .end button {
    background-color:#3858D6;
    width: 140px;
    height: 30px;
    border-radius: 5px;
    color: white;

 }
 .end {
    align-items: center;
    margin-left: 500px;
    /* margin-right: -50px; */
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: none;
 }
 .about h5 {
    margin-top: 30%;
    margin-left: 15%;
    color:#3858D6;
 }
 .about h2 {
    margin-left: 8%;
 }
 
 .client {
    display:flex;
    margin-top: 50%;
    
 }
 .client .oma {
    margin-left: -600px;
 } 
 .client .kel {
    margin: 20%;
    margin-top: -1%;
 }
 .client h2 {
    margin-left: 18%;
 }
 .client h5 {
    margin-left: 18%;
    margin-top: -4%;
 }
 .suscribe {
    display: flex;
    margin-right:70%;
    
 }
 .client .star {
    
    margin-left: 15%;
 }
 
 .dot #dot {
    height: 10px;
    width: 105px;
    align-items: center;
    margin-left: 44%;
    display: flex;
    margin-top: -40px;
 }
 .footer img {
    width: 272px;
    height: 290px;
    flex-shrink: 0; 
    margin-top: 5%;
    /* margin-left: 50%; */
    
 }
 .footer {
    display: flex;
    margin-right: 100px;
    background-color: gainsboro;
    margin-left: 100px;
    margin-top: 90px;
    /* padding-left: 90px;
    padding-top: -800px; */
    padding:2%;
    
 }
 
 .form {
    margin-top: 15%;
    margin-left: 15%;
    color: #1E1D1D;
    
 }
 .form h2 {
    color: #1E1D1D;
    font-size:xx-large;
 }
 .form h6 {
    color: #8B8E99;
    font-size: large;
    
 }
 .form button {
    background-color: #3858D6;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125.5%;
    width:150px;
    height: 35px;
    
 }
 .form .input {
    border-style: groove;
    border-radius: 5px;
    

 }

 footer {
    background-color: black;
    text-align: center;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #FFF;
 }
 